@import '../../styles/styles';

.AboutMePage__Heading {
  text-align: center;
}

.AboutMePage__QA {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--blockWidth), 1fr));
}

.AboutMePage__Q {
  color: var(--accent2);
}
