@import '../../styles/styles.module';

.AboutMePage {
  @media (min-width: $screen-medium) {
    padding: 4% 10%;
  }
}

.AboutMePage__Heading {
  text-align: center;
}

.AboutMePage__QA {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--blockWidth), 1fr));
}

.AboutMePage__Q {
  color: var(--accent2);

  p {
    line-height: 22px;
  }
}

#WorkCareer {
  background: linear-gradient(to bottom, var(--primaryLight), var(--primary));
}

#Coding {
  background: var(--primary);
}

#Personal {
  background: linear-gradient(to bottom, var(--primary), var(--primary-darker));
}
