@import "./src/styles/styles";

.Block {
  position: relative;
  padding: 3rem $padding-margin-big;
}

.Block--darker {
  background-color: var(--primary-darker);
}

.Block--lighter {
  background-color: var(--primary-lighter);
}
