@import "./src/styles/styles";

.Block {
  position: relative;
  padding: 3rem 0;

  &--darker {
    background-color: var(--primary-darker);
  }

  &--lighter {
    background-color: var(--primary-lighter);
  }

  &--amazingBg {
    background: var(--skillsBg);
  }
}

