@import "./src/styles/styles";

.Button {
  background: var(--secondaryLight);
  border: none;
  height: 2rem;
  padding: 0 1rem;
  color: var(--textColor);
  font-size: $font-small;
  cursor: pointer;
  font-weight: 700;
}

.Button--inverted {
  background: none;
  border: var(--borderStyle)
}

.Button--cta {
  background: var(--accent);
}
