@import "./src/styles/styles";

.Button {
  background: var(--secondaryLight);
  border: none;
  height: 3rem;
  padding: 0 2rem;
  color: var(--textColor);
  font-size: $font-small;
  cursor: pointer;
  font-weight: 700;

  &:focus {
    box-shadow: none;
    outline: 1px dashed var(--accent2);
  }
}

.Button--inverted {
  background: none;
  border: var(--borderStyle)
}

.Button--cta {
  background: var(--accent);
  color: white;
}
