//@import "normalize";

/*
  Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

/*
  Theme settings
 */
:root {
  --primary: #0D1321;
  --primary-lighter: #0F1D2D;
  --primary-darker: #0C0E1B;

  --primaryLight: #1b2333;
  --secondary: #3E5C76;
  --secondaryLight: #748CAB;
  --textColor: #F0EBD8;
  --borderStyle: 1px solid #F0EBD8;
  --accent: #e20202;
  --accent2: #e27e02;

  --blockWidth: 250px;
  --skillsBg: linear-gradient(180deg, rgba(12, 14, 27, 0.2), rgba(226, 2, 2, 0.2));
}

/*
  Global styles
 */
//html {
//  height: 100%;
//}

#__next {
  min-height: 100%;
}

.Page {
  display: grid;
}

/*
  Theme constants
 */
$transition-time: 0.25s;

/*
  Font-sizes
 */
$font-tiny: 0.75rem;
$font-small: 0.9rem;
$font-normal: 1rem;
$font-larger: 1.5rem;
$font-large: 2rem;
$font-giant: 3rem;

/*
  Paddings and margins
 */
$padding-margin-tiny: 0.1rem;
$padding-margin-small: 0.5rem;
$padding-margin-normal: 1rem;
$padding-margin-big: 1.5rem;
$padding-margin-huge: 2rem;
$padding-margin-giant: 3rem;

/*
  Breakpoints
 */
$screen-tiny: 480px;
$screen-medium: 991px;
$screen-large: 1200px;

@mixin noPrint {
  @media print {
    display: none;
  }
}

@media (min-width: $screen-medium) {
  :root {
    --blockWidth: 400px;
  }
}

// super-micro-mini bootstrap
.col-2-md {
  @media (min-width: $screen-medium) {
    display: grid;
    grid-template-columns: repeat(2, minmax(var(--blockWidth), 1fr));
    justify-items: center;
    align-items: center;
    padding: 0 5rem;
  }
}

.hidden-md {
  @media (min-width: $screen-medium) {
    display: none;
  }
}

.shown-md {
  @media (max-width: $screen-medium - 1) {
    display: none;
  }
}

.transparent-md {
  @media (min-width: $screen-medium) {
    background: transparent;
  }
}

.darker-md {
  @media (min-width: $screen-medium) {
    background: var(--primary-darker);
  }
}

.p0-md {
  @media (min-width: $screen-medium) {
    padding: 0 !important;
  }
}
