@import "normalize";

/*
  Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

/*
  Theme colors
 */
:root {
  --primary: #0D1321;
  --primary-lighter: #0F1D2D;
  --primary-darker: #0C0E1B;

  --primaryLight: #1D2D44;
  --secondary: #3E5C76;
  --secondaryLight: #748CAB;
  --textColor: #F0EBD8;
  --borderStyle: 1px solid #F0EBD8;
  --accent: #e20202;
  --accent2: #e27e02;
}

/*
  Global styles
 */
html {
  height: 100%;
}

body, #__next {
  min-height: 100%;
}

// TODO: should be App
.Layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  flex-direction: column;
  min-height: 100vh;
  background: var(--primary);
  color: var(--textColor);
  font-family: 'Ubuntu', sans-serif;
}

.Page {
  flex-grow: 1;
}

/*
  Theme constants
 */
$transition-time: 0.25s;

/*
  Font-sizes
 */
$font-tiny: 0.75rem;
$font-small: 0.9rem;
$font-normal: 1rem;
$font-larger: 1.5rem;
$font-large: 2rem;
$font-giant: 3rem;

/*
  Paddings and margins
 */
$padding-margin-tiny: 0.1rem;
$padding-margin-small: 0.5rem;
$padding-margin-normal: 1rem;
$padding-margin-big: 1.5rem;
$padding-margin-huge: 2rem;
