/*
  Theme colors
 */

:root {
  --primary: #0D1321;
  --primaryLight: #1D2D44;
  --secondary: #3E5C76;
  --secondaryLight: #748CAB;
  --textColor: #F0EBD8;
  // TODO: add border variable
}

/*
  Global styles
 */
.App {
  background: var(--primary);
  color: var(--textColor);
}

.App--light {
  // redefine variables when theme changes
  --primary: white;
  --primaryLight: #748CAB;
  --secondaryLight: #1D2D44;
  --textColor: #111;

  color: var(--textColor);
}

