@import "../../styles/styles";

.SkillsBox {
  padding: $padding-margin-huge;
  background: rgba(0, 0, 0, 0.3);
  display: grid;
}

.SkillsBox__LearnedList {
  list-style-type: square;
}

.SkillsBox__Item {
  display: grid;
  list-style-type: none;
}

.SkillsBox__Title {
  text-align: center;
}

.SkillsBox__List {
  display: grid;
  grid-gap: $padding-margin-huge;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(var(--blockWidth), 1fr));
}

.SkillsBox__ItemDescription {
  margin-top: $padding-margin-normal;
  font-weight: normal;
}

.SkillsBox__ItemName {
  color: var(--accent2);
  font-size: $font-large;
  display: inline-block;
  margin: $padding-margin-normal 0;
}

.SkillsBox__Mark {
  vertical-align: super;
  margin-left: calc(#{$padding-margin-tiny} * 2)
}

.SkillsBox__Gear {
  margin-right: $padding-margin-tiny
}

.SkillsBox__ItemUsage {
  margin-top: $padding-margin-normal;
}

.SkillsBox__ProsCons {
  margin-top: $padding-margin-normal;
}

.SkillsBox__Learned, .SkillsBox__YetToLearn {
  margin-top: $padding-margin-normal;
}

.SkillsBox__YetToLearn {
  color: #8c8c8c;
}
