@import "../../pages/index";

.Navbar {
  user-select: none;
}

.Navbar__Hamburger {
  width: 32px;
  height: 32px;

  :hover {
    cursor: pointer;

    path {
      fill: pink;
      transition: fill $transition-time;
    }
  }

}
