@import "../../styles/styles";

.NavbarItem {
  display: grid;
  align-content: center;
  height: 2em;
  line-height: 2em;
  padding: $padding-margin-small $padding-margin-normal;

  &:hover {
    cursor: pointer;
    background: var(--accent);
  }

  a {
    color: white;
    text-decoration: none;
  }
}
