@import "../../styles/styles";

.Navbar {
  user-select: none;
  background: var(--primary-darker);
  position: sticky;
  top: 0;
  z-index: 1;

  @media print {
    display: none;
  }
}

.Navbar__ItemsContainer {
  display: none;
  @media (min-width: $screen-medium) {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0 $padding-margin-big;
  }

  &--open {
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, var(--primary-darker), rgba(0, 0, 0, 0.95));
  }
}

.Navbar__OpenMenuButton, .Navbar__CloseMenuButton {
  display: inline-block;
  width: 24px;
  height: 32px;
  padding: $padding-margin-normal;

  path {
    transition: fill $transition-time;
  }

  :hover {
    cursor: pointer;

    path {
      fill: var(--textColor);
      transition: fill $transition-time;
    }
  }

  .svg-inline--fa {
    width: 24px;
    height: 32px;
  }

  @media (min-width: $screen-medium) {
    display: none;
  }
}

.Navbar__OpenMenuButton--open {
  visibility: hidden;
}
