@import "../../styles/styles";

.Navbar {
  user-select: none;
}

.Navbar__ItemsContainer {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: transparentize(black, 0.05);
}

.Navbar__OpenMenuButton, .Navbar__CloseMenuButton {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: $padding-margin-normal;

  path {
    transition: fill $transition-time;
  }

  :hover {
    cursor: pointer;

    path {
      fill: var(--textColor);
      transition: fill $transition-time;
    }
  }

  .svg-inline--fa {
    width: 32px;
    height: 32px;
  }
}

.Navbar__OpenMenuButton--open {
  visibility: hidden;
}
