@import "../styles/styles";


.HireMe__LiveIndicator {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: linear-gradient(to bottom right, var(--accent), #A40000);
  margin: $padding-margin-huge;
}

.HireMe__LiveIndicatorWaves {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: linear-gradient(to bottom right, var(--accent), #A40000);
  animation: waves;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation-direction: normal;
}

@keyframes waves {
  0% {
    opacity: 1;
  }

  50% {
    transform: scale(2.4);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.HireMe__Controls {
  display: flex;
  justify-content: center;
  padding: $padding-margin-big 0;
}

.HireMe__Status {
  display: grid;
  justify-items: center;
}

.HireMe__Unavailable {
  text-align: center;
}

.HireMe__LinkedIn {
  display: flex;
  align-self: center;
}

.HireMe__LinkedInImage {
  width: 2.5rem;
  background: var(--secondary);
  padding: $padding-margin-small;
  border-radius: 0.5rem;
  margin-left: $padding-margin-normal;
}

.HireMe__LiveText {
  font-size: 1.25rem;
  text-align: center;
  color: var(--accent);
  font-weight: bold;
}

.HireMe__Loading {
  text-align: center;
  color: var(--secondaryLight);
  font-size: $font-larger;
}

.HireMe__SocialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $padding-margin-big 0;
}

.HireMe__SocialLinkImage {
  width: $font-giant;
}

.HireMe__SocialLink {
  display: flex;
  align-self: center;
  margin: 0 1rem;
}


