@import "../../styles/styles";

.WorksBox {
  padding: $padding-margin-huge;
  background: rgba(0, 0, 0, 0.3);
  display: grid;
}

.WorksBox__Item {
  display: grid;
  list-style-type: none;
}

.WorksBox__Title {
  color: var(--accent);
}

.WorksBox__List {
  display: grid;
  grid-gap: $padding-margin-huge;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(var(--blockWidth), 1fr));

  @media (min-width: $screen-medium) {
    grid-template-columns: repeat(auto-fill, minmax(var(--blockWidth), 1fr));
  }
}

.WorksBox__ItemDescription {
  margin: $padding-margin-huge 0;
  color: var(--accent2);
  font-weight: normal;
}

.WorksBox__ItemName {
  font-size: $font-large;
  display: inline-block;
  margin-bottom: $padding-margin-normal;
}

.WorksBox__Meta {
  display: grid;
  margin: 1rem 0;
  row-gap: $padding-margin-small;
}

.WorksBox__Links {
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.WorksBox__Repos {
  grid-gap: $padding-margin-small;
  display: grid;
  margin: $padding-margin-huge 0;
}

.WorksBox__LiveLink {
  justify-self: end;
  margin-top: $padding-margin-huge;
}

.WorksBox__Goals, .WorksBox__ToImprove {
  margin: $padding-margin-normal 0;
}
