@import "./src/styles/styles";

.SkillsPage__SkillsBlocks {
  display: grid;
  grid-gap: 1rem;
}

.SkillsPage__ToggleSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $padding-margin-giant;
}

.SkillsPage__Mode {
  margin: 0.5rem;
}

.SkillsPage__Animation {
  width: 1430px;
  height: 1430px;
  background: linear-gradient(45deg, var(--primary-lighter), var(--accent));
  filter: blur(40px);
  border-radius: 50%;
  transform: translateZ(0px);
  opacity: 0.2;
  animation-name: moving;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear;
  position: fixed;
  left: -160%;
  right: 0;
  top: -36%;
  bottom: 0;
}

@keyframes moving {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
