@import "../../styles/styles.module";

.LinkedInCta {
  position: fixed;
  bottom: $padding-margin-normal;
  animation-name: slide;
  animation-delay: 5s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  right: -999px;

  @media all and (max-width: $screen-medium) {
    display: none;
  }

  &__Message {
    display: flex;
    justify-content: space-between;
    background: #303336;
    padding: 1rem;
    color: white;
    font-family: 'Ubuntu', serif;
    font-size: 14px;
  }

  &__Close {
    padding: 0.5rem;
    margin: -0.5rem;
    cursor: pointer;
    font-size: 16px;
  }
}

@keyframes slide {
  0% {
    right: -999px;
  }
  100% {
    right: $padding-margin-normal;
  }
}
