@import "../../styles/styles.module";

.CVPage {
  display: grid;
}

.CVPage__Shrug {
  margin-top: $padding-margin-big;
  @include noPrint;
}

.CVPage__SmallScreensWarning {
  @include noPrint;
  grid-row: 1/-1;
  margin: auto;
  font-size: $font-large;
  text-align: center;
  color: var(--secondaryLight);
  @media (min-width: $screen-medium + 1px) {
    display: none;
  }
}

.CVPage__Sheet {
  @media all {
    display: grid;
    align-content: start;
    background: white;
    width: 21cm;
    min-height: 29.7cm;
    margin: $padding-margin-giant auto;
    color: black;
    padding: $padding-margin-giant;
    box-shadow: 0 0 1rem 2rem #00000026;
  }

  @media (max-width: $screen-medium - 1) {
    display: none;
  }

  @media print {
    display: grid;
    margin: 0;
    padding: 2rem 0 2rem 2rem;
    box-shadow: none;
    a {
      text-decoration: none;
      color: initial;
    }
  }
}

.CVPage {
  &__Gutter {
    color: gray;
  }

  &__Body {
    display: grid;
    grid-template-columns: 0 1fr;

    &--withGutter {
      grid-template-columns: 1fr 3fr;
      grid-gap: $padding-margin-small;
    }
  }
}

.CVOptions {
  @include noPrint;
  @media (max-width: $screen-medium - 1) {
    display: none;
  }
}
