@import "../../styles/styles";

.CVPage {
  display: grid;
}

.CVPage__Shrug {
  margin-top: $padding-margin-big;
  @include noPrint;
}

.CVPage__SmallScreensWarning {
  @include noPrint;
  grid-row: 1/-1;
  margin: auto;
  font-size: $font-large;
  text-align: center;
  color: var(--secondaryLight);
  @media (min-width: $screen-medium + 1px) {
    display: none;
  }
}

.CVPage__Sheet {
  @media all {
    display: grid;
    grid-gap: $padding-margin-normal;
    align-content: start;
    background: white;
    width: 21cm;
    min-height: 29.7cm;
    margin: $padding-margin-giant auto;
    color: black;
    padding: $padding-margin-giant;
    box-shadow: 0 0 1rem 2rem #00000026;
  }

  @media (max-width: $screen-medium) {
    display: none;
  }

  @media print {
    display: grid;
    margin: 0;
    padding: 2rem 0 2rem 2rem;
    box-shadow: none;
    a {
      text-decoration: none;
      color: initial;
    }
  }
}

.CVPage {
  &__Name {
    font-size: $font-giant;
  }

  &__MainInfo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: $padding-margin-small;
  }

  &__Photo {
    border-radius: 50%;
    width: 150px;
    height: auto;
    margin-top: $padding-margin-big;
  }

  &__MainInfoLeft {
    justify-content: center;
    display: grid;
  }

  &__Contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: $padding-margin-small;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: $padding-margin-normal 0;
  }

  &__Gutter {
    color: gray;
  }

  &__Body {
    display: grid;
    grid-template-columns: 0 1fr;

    &--withGutter {
      grid-template-columns: 1fr 3fr;
      grid-gap: $padding-margin-small;
    }
  }
}

.CVOptions {
  @include noPrint;
  @media (max-width: $screen-medium) {
    display: none;
  }
}

.TechStackInfo {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: $padding-margin-normal;
}


.Experience {
  &__MonthsTotal {
    font-style: italic;
    margin: 0.25rem 0;
  }

  &__Title {
    font-size: 12px;
    margin: 0.5rem 0;
  }
}

.Education {
  &__Specialty {
    font-size: 12px;
    margin: 0.5rem 0;
  }
}


.Experience, .Education {
  &__Places {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 3fr;
  }

  &__Years {
    grid-column: 1/2;
    color: grey;
  }

  &__Details {
    grid-column: 2/3;
  }
}
